<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LogicAppsDataSection" type="ReportGenerator.LogicAppsDataSection, ReportGenerator" />
  </configSections>
  <LogicAppsDataSection>
    <LogicAppsEndpoints>
      <add name="workflow01" 
           workflowname="" 
           resourcegroup="" 
           tenantid="" 
           subscriptionid="" 
           clientid="" 
           clientsecret="" 
           />
      <add name="workflow01"
           workflowname=""
           resourcegroup=""
           tenantid=""
           subscriptionid=""
           clientid=""
           clientsecret=""
      />
    </LogicAppsEndpoints>
  </LogicAppsDataSection>
</configuration>
